analysis/
python/
kakeibot-weekly/
.vscode/

# Python cache and compiled files
line-bot-deployment/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*$py.class

info.*
zip-command.*
zip-command-for-weekly.*
zip-command-for-layer.*
test_weekly-notify.py
archive-for-weekly.*
README_Internal.md
setenv.*