# Directories to ignore
analysis/
python/
kakeibot-weekly/
read-kakeibot-table/
.vscode/

# Python cache and compiled files
__pycache__/
.pytest_cache/
*.py[cod]
*.pyc
*.pyo
*.pyd
*$py.class

info.*
zip_kakeibot_layer.bat
zip_kakeibot_read_table.bat
zip_kakeibot_weekly.bat
zip_kakeibot.bat
test_weekly-notify.py
archive-for-weekly.*
README_Internal.md
setenv.*